.card {
    @apply rounded p-[25px] md:p-[50px];

    &.boxed {
        @apply rounded-none;
    }

    &.border-large {
        @apply rounded-lg border-[4px] border-black;
    }

    &.border-small {
        @apply rounded border-[3px] border-black;
    }

    &.primary {
        @apply bg-primary;
    }

    &.white {
        @apply bg-white;
    }

    &.gray {
        @apply bg-dark-gray;
    }
}